<!-- doctor's index page -->
<div class="doctor-dashboard">
  <h1>Patients</h1>
  <ul class="patient-list">
    <% @patients.each do |patient| %>
      <li><%= patient.first_name %> <%= patient.last_name %></li>
    <% end %>
  </ul>
</div>
